Source: ros-melodic-async-port
Section: misc
Priority: optional
Maintainer: Ruixiang Du <ruixiang.du@westonrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: https://www.westonrobot.com/
Standards-Version: 3.9.2

Package: ros-melodic-async-port
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Weston Robot Platform Linux Driver for Asynchronous Port
