Source: ros-melodic-hunter-bringup
Section: misc
Priority: optional
Maintainer: Ruixiang Du <ruixiang.du@westonrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-std-msgs
Homepage: https://github.com/agilexrobotics
Standards-Version: 3.9.2

Package: ros-melodic-hunter-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-std-msgs
Description: The hunter_bringup package
