Source: ros-melodic-scout-base
Section: misc
Priority: optional
Maintainer: rdu <support@agilex.ai>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roscpp, ros-melodic-roslaunch, ros-melodic-scout-msgs, ros-melodic-sensor-msgs, ros-melodic-ugv-sdk
Homepage: https://github.com/agilexrobotics
Standards-Version: 3.9.2

Package: ros-melodic-scout-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-controller-manager, ros-melodic-geometry-msgs, ros-melodic-roscpp, ros-melodic-scout-msgs, ros-melodic-sensor-msgs, ros-melodic-topic-tools, ros-melodic-ugv-sdk
Description: AgileX Scout robot driver
